include *.txt
include babel.cfg
include LICENSE
include bin/preinstall.js
recursive-include sphinx_radiac_theme *.conf
recursive-include sphinx_radiac_theme *.css
recursive-include sphinx_radiac_theme *.eot
recursive-include sphinx_radiac_theme *.html
recursive-include sphinx_radiac_theme *.js
recursive-include sphinx_radiac_theme *.svg
recursive-include sphinx_radiac_theme *.ttf
recursive-include sphinx_radiac_theme *.woff
recursive-include sphinx_radiac_theme *.woff2
recursive-include sphinx_radiac_theme/locale *.pot *.po *.mo
recursive-include tests *.py
recursive-include tests *.rst
prune build
